

.container {
    /*display: block;*/
    position: relative;
    padding-left: 25px;
    padding-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    border: 1px solid var(--verde);
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
}
.container:hover input ~ .checkmark {
    border: 1px solid var(--verde);
}
.container input:checked ~ .checkmark {
  background-color: var(--verde);
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 6px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 768px) {
    .container {
        font-size: 14px;
    }

}
@media only screen and (max-width: 600px) {

   
}
@media only screen and (max-width: 480px) {

  
}
