
:root {
  --verde: #22B56E;
  --gris: #707070;
  --verdeclaro: #ECF8F5;
    --azulgris: #E5E6EB;
    --azulblanco: #F5F6FA;
    --rojoblanco: #EDEDED;
    --azul: #007BFF;
    --rojo: #DC3545;
    --rosablanco: #FAFAFA;
}
main {
    background: none;
    display: flex;
}
.reportes {
    width: 100%;
    display: flex;
}
.rpt__filtros {
    width: 20%;
    padding: 15px 30px;
    height: calc(100vh - 60px);
    background: var(--azulblanco);
    border-right: 1px solid var(--azulgris);
}
.rpt__section .rpt__titulo {
    border: 1px solid var(--verde);
    background: var(--verdeclaro);
    color: var(--verde);
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.rpt__graficos {
    width: 80%;
    height: calc(100vh - 60px);
    background: #fff;
}


